:root {
  --text-color: #757575;
  --text-title-color: #212121;
  --footer-nav-color: rgba(255, 255, 255, 0.6);
  --heder-logo-s-color: #000000;
  --text-color-white: #ffffff;
  --accent-background-color-button: #188ce8;
  --accent-text-color: #2196f3;
  --margin-left-section-main: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

body {
  margin: 0;

  background-color: #ffffff;
  color: #757575;
  font-family: Roboto;
  font-style: sans-serif;
  font-weight: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  display: none;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-background-color-button);
}
.pre-pre-nav:hover,
.pre-pre-nav:focus {
  color: var(--accent-background-color-button);
  cursor: pointer;
}
.pre-button:hover,
.pre-button:focus {
  background-color: var(--accent-background-color-button);
  color: var(--text-color-white);
  cursor: pointer;
}
.pre-nav:hover,
.pre-nav:focus {
  color: var(--accent-text-color);
}

/*-------------header-----------*/
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-contakt {
  display: flex;
  margin-left: auto;
}

.header-logo {
  display: inline-block;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--heder-logo-s-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.header-logo-w {
  color: var(--accent-text-color);
}

.header-nav,
.header-contakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav-link {
  display: inline-block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-title-color);

  position: relative;
  transition: background-color var(--transition-duration) var(--timing-function);
}

.current:after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1.5px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}
.pre-pre-nav {
  transition: color var(--transition-duration) var(--timing-function);
}

.header-contakt-mailto {
  margin-right: 50px;
}
.header-contakt-tel,
.header-contakt-mailto {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #757575;
  transition: color var(--transition-duration) var(--timing-function);
}

.icon-contakt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-contakt:hover,
.icon-contakt:focus {
  fill: var(--accent-text-color);
  cursor: pointer;
}
.icon-contakt:hover .icon-contackt-icon,
.icon-contakt:focus .icon-contackt-icon {
  fill: var(--accent-text-color);
}
.icon-contackt-icon {
  margin-right: 10px;
  transition: fill var(--transition-duration) var(--timing-function);
}

.heading {
  position: relative;
  background: #2f303a;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/heading/developed.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.heading-title {
  margin: 0 auto 30px auto;
  max-width: 650px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--text-color-white);
}

.heading-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color-white);
  background-color: #2196f3;
}

/*---------------main--------------------*/
.main-feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-title-color);
  margin-bottom: 10px;
}
.main-feature-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-section-main));
}
.main-feature-ul > .main-feature-li {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--margin-left-section-main);
}
.icon-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.main-box {
  padding-bottom: 94px;
}
.main-box-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-section-main));
}
.main-box-ul > .main-box-li {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--margin-left-section-main);
}
.main-box-li {
  position: relative;
  display: flex;
}

.position {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.main-team {
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}

.main-team-li {
  background-color: var(--text-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.main-team-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-section-main));
}
.main-team-ul > .main-team-li {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--margin-left-section-main);
}

.pre-text {
  font-size: 14px;
  line-height: 1.71;
}
.pre-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--text-title-color);
  text-align: center;
  margin-bottom: 50px;
}
.pre {
  margin-bottom: 10px;
  text-align: center;
}
.main-team-ul-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.main-team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.social-ul {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.main-team-social-li:not(:last-child) {
  margin-right: 10px;
}

.icon-social {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration) var(--timing-function);
}
.icon-social-icon {
  transition: fill var(--transition-duration) var(--timing-function);
}

.icon-social:hover,
.icon-social:focus {
  background-color: var(--accent-text-color);
  cursor: pointer;
}
.icon-social:hover .icon-social-icon,
.icon-social:focus .icon-social-icon {
  fill: var(--text-color-white);
}
.main-client-ul {
  display: flex;
}

.icon-client {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: background-color var(--transition-duration) var(--timing-function);
}
.icon-client-icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--timing-function);
}

.icon-client:hover,
.icon-client:focus {
  border-color: var(--accent-text-color);
  cursor: pointer;
}

.icon-client:hover .icon-client-icon,
.icon-client:focus .icon-client-icon {
  fill: var(--accent-text-color);
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.img-team {
  margin-bottom: 30px;
}
/*------------------footer-----------------*/
.footer {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background: #2f303a;
}
.footer-conteiner {
  display: flex;
}
.footer-conteiner-box {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.footer-logo {
  display: block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-color-white);
  padding-top: 60px;
  margin-bottom: 20px;
}
.footer-logo-w {
  color: var(--accent-text-color);
}
.footer-contakt {
  display: flex;
}
.footer-contakt-ul {
  display: block;
  padding-bottom: 60px;
}
.footer-contakt-address {
  display: block;
  margin-bottom: 9px;
  color: var(--text-color-white);
  transition: color var(--transition-duration) var(--timing-function);
}
.footer-contakt-mailto {
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--timing-function);
}
.footer-contakt-tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--timing-function);
}
.footer-social-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
  padding-top: 72px;
  padding-bottom: 100px;
}
.footer-social-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-bottom: 20px;
}
.footer-social-ul {
  display: block;
  align-items: center;
  justify-content: center;
}
.footer-social-li {
  display: inline-block;
  align-items: center;
}

/*-----------------------Portfolio-------------------------*/
/*---------------Header---------------*/
.portfolio-header-nav-link {
  display: inline-block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-title-color);

  position: relative;
}

.portfolio-header-contakt-mailto,
.portfolio-header-contakt-tel {
  color: var(--text-color);
}
.portfolio-header-contakt-mailto {
  display: inline-block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio-header-contakt-tel {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*--------------Button-------------*/
.main-filters {
  display: flex;
}

.filters-ul {
  display: flex;
  justify-content: center;
}
.pre-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
}
.portfolio-button-b {
  display: inline-block;
  padding: 6px 22px;
  margin-right: 8px;
  margin-bottom: 50px;
  border-radius: 4px;

  color: var(--text-color-white);
  background-color: var(--accent-text-color);
}
.portfolio-button {
  display: inline-block;
  padding: 6px 22px;
  margin-right: 8px;
  margin-bottom: 50px;

  color: var(--text-title-color);
  background: #f5f4fa;
  border-radius: 4px;
}
/*-----------Main--------------*/

.main-projects-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-section-main));
}
.main-projects-li {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--margin-left-section-main);
}
.tumba:hover,
.tumba:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.projects-border {
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
}
.main-project-ul-title {
  margin: 20px 24px 4px 24px;
  text-align: left;

  font-size: 18px;
  line-height: 2;
}

.main-project-text {
  margin: 0px 24px 20px 24px;
  text-align: left;

  font-size: 16px;
  line-height: 1.87;
}
.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;

  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--text-color-white);
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--timing-function);
}
.tumba:hover .projects-overlay-text,
.tumba:focus .projects-overlay-text {
  transform: translateY(0%);
}
/*----------container-----------------*/
p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*---------modal---------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);

  transition: opacity transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  visibility: visible;
}
.modal-window {
  width: 528px;
  height: 521px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}
.modal-close-btn {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  position: absolute;
  top: 8px;
  right: 8px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-close-icon {
  display: flex;
  fill: #000000;
}
